body{
    background-color: #B980F0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
h1{
    background: linear-gradient(to right bottom,#BEAEE2,#FFBCBC, #B5EAEA,#EDF6E5 ,#FE9898);
    text-align: center;
    width: 50%;
    margin: auto;
}
.container{
    width: 50%;
    margin: auto;
    margin-left: 28%;
    padding: 30px;
    font-size: 20px;
}
input,label{
    display: block;
}
input{
    margin-bottom: 0.5rem;
    width: 80%;
    height: 25px;
}
#check-number{
    display: block;
    margin-top: 5rem;
    margin: auto;
    margin-left: 34%;
    height: 35px;
    background-color: #FE9898;
}
#check-number:hover{
    background-color: #F5E79D;
}
/* #output-box{
    width: 50%;
    height: 23%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #7C83FD;
    text-align: center;
    margin: auto;
    margin-left: 12%;
    margin-top: 2%;
    background: linear-gradient(to right bottom,#88FFF7,#7DEDFF, #96BAFF,#7C83FD);
} */